[Unit]
Description=GPS (Global Positioning System) Daemon
Requires=gpsd.socket
# Needed with chrony SOCK refclock
After=chronyd.service

[Service]
Type=forking
#EnvironmentFile=-/etc/default/gpsd
ExecStart=/usr/local/sbin/gpsd #GPSD_OPTIONS $DEVICES
#ExecStart=/usr/local/sbin/gpsd -n -s 230400 /dev/ttyACM0
[Install]
WantedBy=multi-user.target
Also=gpsd.socket
