[Unit]
Description= --- NtripClient trigger ---
After=multi-user.target

[Service]
Type=exec
EnvironmentFile=/home/agrodroid/releases/active_release/redis_gpsd_ubxtool/ntrip_env
Environment=PYTHONPATH=/home/agrodroid/releases/active_release/redis_gpsd_ubxtool/gpsd/lib/python3/dist-packages
Environment=PATH=/home/agrodroid/releases/active_release/redis_gpsd_ubxtool/gpsd/bin/:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin
ExecStart=/usr/bin/python3 /home/agrodroid/releases/active_release/redis_gpsd_ubxtool/ntrip.py $ARGS
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target