[Unit]
Description= --- AgroNav GPS Forwarder ---
After=multi-user.target

[Service]
Type=exec
ExecStart=/usr/bin/python3 /home/agrodroid/releases/active_release/redis_gpsd_ubxtool/between_redis_and_ubx.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

