[Unit]
Description= --- NtripClient trigger ---
After=multi-user.target

[Service]
Type=exec
EnvironmentFile=/home/agrodroid/releases/active_release/redis_gpsd_ubxtool/ntrip_env
Environment="PYTHONPATH=/home/agrodroid/releases/active_release/redis_gpsd_ubxtool/gpsd/lib/python3/dist-packages"
Environment="PATH=/home/agrodroid/releases/active_release/redis_gpsd_ubxtool/gpsd/bin/:$PATH"
ExecStart=/usr/bin/python3 /home/agrodroid/releases/active_release/redis_gpsd_ubxtool/ntrip.py $ARGS
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target